language: java

addons:
  apt:
    sources:
    - sourceline: 'deb https://packages.atlassian.com/debian/atlassian-sdk-deb/ stable contrib'
      key_url: 'https://packages.atlassian.com/api/gpg/key/public'
    packages:
    - atlassian-plugin-sdk

install:
  - atlas-mvn install

script:
  - atlas-unit-test

cache:
  directories:
    - $HOME/.m2
